
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 5px;
  }

   .box.one{
    grid-column: span 4;
   }

   .box.three {
    grid-column: span 2;
    padding-left: 10%;
    padding-top: 10%;
    width:400px;
    height:300px;
    transform: translate(-10%, -10%);
   }

   .overlay{
    position: absolute;
    top:10%;
    left:10%;
    right:0%;
    bottom:0%;
    opacity:0;
    transition:opacity 0.4s ease-in-out;
    background:rgb(27, 27, 27);
   }

   .content {
    position: absolute;
   
    color:rgb(255, 255, 255);
    transform: translate(-10%, -10%);
    font-family: verdana;
    text-align: right;
   }

   .box.three:hover .overlay{
    opacity: 1.0;
   }

   .image{
   width: 400px;
   height: 300px;}

   .box.three a{
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
   }

   .box.three a:hover
   {color:rgb(240, 214, 98);
  }
  



   .box.four {
    grid-column: span 2;
    padding-left: 10%;
    padding-top: 10%;
    width:400px;
    height:300px;
    transform: translate(-10%, -10%);
   }

   .overlay{
    position: absolute;
    top:10%;
    left:10%;
    right:0%;
    bottom:0%;
    opacity:0;
    transition:opacity 0.4s ease-in-out;
    background:rgb(32, 24, 24);
   }

   .content {
    position: absolute;
    top:50%;
    left: 50%;
    color:rgb(255, 255, 255);
    transform: translate(-10%, -10%);
    font-family: verdana;
    text-align: right;
   }

   .box.four:hover .overlay{
    opacity: 1.0;
   }

   .image{
   width: 400px;
   height: 300px;}


   .topnav {
    background-color: rgb(27, 27, 27);
    overflow: hidden;
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

.heading{
  text-align: center;
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 10px;
}

  
  
  
  